<button (click)="gotoNew()">új kategória</button>
<div class="row">
  <div class="col-3 center">
    dátum
  </div>
  <div class="col-3 center">
      megjegyzés 
    </div>
    <div class="col-3 center">
        költség
      </div>
      <div class="col-3 center">
          kategória
        </div>
</div>
<div class="row">
    <div class="col-3">
választott kategória
</div>
<div class="col-3">
<select [(ngModel)]="choosed">
    <option *ngFor="let cat of this.categories">{{cat.name}}</option>
  </select>
  </div>
  </div>
<div *ngFor="let data of this.datas; let i=index" >
  <div *ngIf="data.category==choosed||choosed=='all'" class="row">
    <div class="col-2 center">
      {{data.date}}
    </div>
    <div class="col-2 center">
        {{data.text}}
    </div>
    <div class="col-2 center">
        <input type="number"name="number1" [(ngModel)]="data.number">
    </div>
    <div class="col-2 center">
        {{data.category}}
  </div>
  <div class="col-2 center">
      <button (click)="delete(i)">törlés</button>
  </div>
  </div>
  </div>
<div class="row">
    <div class="col-3 center">
        <input type="date" name="date" max="2018-12-31" 
        min="2018-01-01" class="form-control" [(ngModel)]="date">
    </div>
    <div class="col-3 center">
        <input type="text" name="text" [(ngModel)]="text">
       
      </div>
      <div class="col-3 center">
          <input type="number"name="number1" [(ngModel)]="number1">
          
        </div>
        <div class="col-3 center">
            <select [(ngModel)]="category">
              <option *ngFor="let cat of this.categories">{{cat.name}}</option>

            </select>
            
          </div>
  </div>
  <div class="row"
  >
  <div class="col-3 center">
      <button (click)="add()">Rögzítés</button>
    </div>


